.DS_Store
assets/.DS_Store
assets/images/.DS_Store
assets/video/.DS_Store
node_modules
.env
dist
.vscode
.idea

# Accidental shell command files
eval "$(ssh-agent -s)"
eval "$(ssh-agent -s)".pub

# macOS
.DS_Store
**/.DS_Store

# macOS
.DS_Store
**/.DS_Store
